<div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  ">
    <div class="modal-content rounded-lg bg-background border-0">
      <div class="modal-body">
        <div class="d-flex mb-2">
          <p class="mb-0 small text-font-color">Available Units: <strong>20 unit(s)</strong></p>
          <p class="mb-0 small ms-auto text-primary fw-bolder">N3,000,000/unit</p>
        </div>
        <div class="d-flex">
          <p class="mb-0 small text-font-color">Available Slot: <strong>90 slot(s)</strong></p>
          <p class="mb-0 small ms-auto text-primary fw-bolder">N5,000/slot</p>
        </div>
        <hr />
        <div class="py-2">
          <p class="small text-font-color">What do you want to buy</p>
          <div class="row">
            <div class="col-6">
              <div class="d-grid">
                <button class="btn btn-primary">Unit</button>
              </div>
            </div>
            <div class="col-6">
              <div class="d-grid">
                <button class="btn btn-white">Slot</button>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="d-flex mb-2">
          <p class="small text-font-color mb-0 me-auto">How many unit?</p>
          <p class="small text-font-color mb-0">Total</p>
        </div>
        <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" />
          </div>
          <div class="col-6 d-flex align-items-center justify-content-end">
              <p class="mb-0 text-secondary fw-bolder fs-5">N 3,000,000</p>
          </div>
        </div>
        <div class="text-center my-4">
          <p class="text-font-color fw-bolder fs-6">Would you like to pay now or <br /> have our agaent contact you ?</p>
        </div>
        <div class="d-grid gap-3 mb-3">
          <button class="btn btn-primary">Pay Now</button>
          <button class="btn btn-secondary">I want to be contacted</button>
        </div>
      </div>
    </div>
  </div>
</div>