<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-transparent border-0">
      <div class="modal-body">
        <div class="d-grid gap-3">
          <label for="uploadFile" class="btn btn-light">
            Upload Images
            <input type="file" id="uploadFile" hidden/>
          </label>
          <button class="btn btn-light">
            Take a Picture
          </button>
        </div>
      </div>
      <div class="modal-footer d-block border-0">
        <div class="d-grid">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>