.btn {
  border-radius: $button-border-radius;
  padding: calc(#{$btn-padding-y-lg} + 2px) $btn-padding-x-lg;
  &-sm {
    padding: $btn-padding-y-sm $btn-padding-x-sm;
  }
  &-primary,
  &-secondary,
  &-font-color {
    color: $white;
    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }
}

.btn-outline-font-color.selected {
  color: $white;
  background-color: $text-color;
}
