.form-control {
  border-radius: $button-border-radius;
  padding: calc(#{$btn-padding-y-lg} + 4px) $btn-padding-x-lg;
  color: $text-color;
  border: none;
  &:focus {
    border-color: none;
    box-shadow: none;
  }
}

.input-with-helper {
  position: relative;
  .helper {
    position: absolute;
    right: 0;
    top: 15px;
    right: 8px;
    font-size: 0.8rem;
    color: $text-color;
    background-color: $white;
  }
}

.check-mark {
  width: 70px;
  height: 70px;
  border: 1.5px solid $secondary;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 1.5rem;
    color: $secondary;
  }
}
