.search-bar {
  position: relative;
  button.search-icon {
    position: absolute;
    right: 1rem;
    top: 6px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    color: $text-color;
    outline: 0;
    background-color: transparent;
  }
  input {
    padding-right: calc(38px + 1rem);
  }
}
