{{#> components/wrapper class="bg-img-one"}}
  <div class="mt-auto">
    {{> components/logo}}
  </div>
  <div class="text-center my-5 text-white">
    <p>Everyone deserves <br class="d-block d-sm-none" /> affordabale properties</p>
  </div>
  <div class="d-grid mt-5 mb-4 px-3">  
    <button class="btn btn-primary fw-bolder">Sign up</button>
  </div>
  <div class="text-white text-center d-flex align-items-center justify-content-center mb-5">
    <p class="mb-0 me-2">Already have an account?</p>
    <a href="/login" class="link-secondary text-white text-decoration-none fw-bolder">Sign In</a>
  </div>
{{/components/wrapper}}