{{#> components/wrapper class="forgot-password-page"}}
    <div class="mt-5 text-center">
      {{> components/logo class="text-font-color"}}
    </div>
    <div class="text-center mb-5 mt-4 text-font-color">
      <p>Everyone deserves <br class="d-block d-sm-none" /> affordabale properties</p>
    </div>
    <div class="login-form-container my-5">
      <div class="signin-title">
        <p class="text-font-color">check mark image</p>
      </div>
    </div>
    <div class="text-center mb-5">
      <a href="/login" class="link-font-color text-decoration-none">Back to Sign in</a>
    </div>
    <div class="text-center mb-1 mt-3">
      <a href="/forgot-password" class="link-font-color text-decoration-none fw-bolder">Forgot Password</a>
    </div>
    <div class="text-font-color text-center d-flex align-items-center justify-content-center mb-5">
      <p class="mb-0 me-2">Don't have an account yet?</p>
      <a href="/signup" class="link-font-color text-decoration-none fw-bolder">Sign Up</a>
    </div>
{{/components/wrapper}}