{{#> components/wrapper class="bg-img-one welcome-page"}}
  <div class="flex-grow-1"></div>
  <div class="">
    {{> components/logo}}
  </div>
  <div class="flex-grow-1"></div>
  <div class="welcome-text">
    <p class="mb-0 text-white">Welcome</p>
  </div>
  <div class="text-center my-5 text-white px-4">
    <p>
      Landshop is Nigeria Premier Real Estate Co-Investment and Policy Development Company, designed to make everyone become a property owner
    </p>
  </div>
  <div class="text-center mb-5">  
    <a href="/dashboard" role="button" class="btn btn-primary fw-bolder px-5">Get Started</a>
  </div>
  <div class="mb-5" />
{{/components/wrapper}}