<div class="dashboard-layout {{class}}">

  <div class="dashboard-content">
    {{> @partial-block }}
  </div>

  {{> components/mobile-nav}}
</div>
  {{#> scripts-block}}
  {{!-- INSERT CUSTOM SCRIPTS --}}
  {{/scripts-block}}