<a href="/" class="logo">
  <img src="{{#if logo}}{{logo}}{{else}}/images/logo-2.png{{/if}}" alt="">
  {{!-- <h1 class="fs-1 text-center {{#if class}}{{class}}{{else}}text-white{{/if}}  fw-bold m-0">Landshop</h1> --}}
</a>