<div class="mobile-nav">
  <div class="mobile-nav__item-list">
    <a href="/land" class="mobile-nav__item">
      <img src="/images/Land.png" alt="">
      <span>Land</span>
    </a>
    <a href="/house" class="mobile-nav__item">
      <img src="/images/House.png" alt="">
      <span>house</span>
    </a>
    <a href="/investment" class="mobile-nav__item">
      <img src="/images/Investments.png" alt="">
      <span>investment</span>
    </a>
    <a href="/transfer" class="mobile-nav__item">
      <img src="/images/Transfer.png" alt="">
      <span>transfers</span>
    </a>

  </div>
</div>