<div class="mobile-title-bar">
    <div class="container">
      <div class="mobile-title-bar__content">
        {{#if back}}
        <a href="{{back}}" class="arrow"> <i class="fas fa-chevron-left"></i> </a>
        {{/if}}
        <a href="#" class="link-font-color title text-capitalize">{{title}}</a>
        <div class="flex-grow-1"></div>
        <div class="profile-img">
          {{> components/profile-picture img=img }}
        </div>
      </div>
    </div>
  </div>