<div class="mobile-balance-container">
  <div class="mobile-balance-content">
    <div class="card border-0 px-3 balance-card ">
      <div class="card-header bg-transparent border-white py-3">
        <p class="text-white mb-0 fs-6 text-center">Wallet Balance</p>
      </div>
      <div class="card-body">
        <p class="text-white mb-0 fs-1 text-center">N67,000,00</p>
      </div>
    </div>
    <div class="card border-0 px-3 balance-card mt-4">
      <div class="card-header bg-transparent border-white py-3">
        <p class="text-white mb-0 fs-6 text-center">My Investment</p>
      </div>
      <div class="card-body py-5">
        <p class="text-white mb-0 fs-4 text-center">No Investment Yet</p>
      </div>
    </div>
    <div class="card border-0 px-3 balance-card mt-4">
      <div class="card-header bg-transparent border-white py-3">
        <p class="text-white mb-0 fs-6 text-center">My Investment</p>
      </div>
      <div class="card-body py-5">
        <p class="text-white mb-0 fs-4 text-center">No Investment Yet</p>
      </div>
    </div>
  </div>
</div>