<div class="mobile-nav">
    <div class="mobile-nav__item-list">
      <a href="#!" class="mobile-nav__item">
        {{> components/icons/land width="30" height="30"}}
        <span>Land</span>
      </a>
      <a href="#!" class="mobile-nav__item">
        {{> components/icons/house size="30"}}
        <span>house</span>
      </a>
      <a href="#!" class="mobile-nav__item">
        {{> components/icons/investment size="30"}}
        <span>investment</span>
      </a>
      <a href="#!" class="mobile-nav__item">
        {{> components/icons/transfer size="30"}}
        <span>transfers</span>
      </a>

    </div>
  </div>