<div class="progress bg-font-color" style="height:{{#if height}}{{height}}{{else}}8px{{/if}};">
  <div class="progress-bar bg-white" role="progressbar" style="width: {{width}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>