<div class="user-details__body">
  <div class="user-details__body-row">
    <p>Referral Code</p>
    <p class="d-flex align-items-end">C7890
      {{#if edit}}
        {{> components/edit-pen}}
      {{/if}}
    </p>
  </div>
  <div class="user-details__body-row">
    <p>Address</p>
    <p class="d-flex align-items-end">Ikoyi Pahse 1
      {{#if edit}}
        {{> components/edit-pen}}
      {{/if}}
    </p>
  </div>
  <div class="user-details__body-row">
    <p>City</p>
    <p class="d-flex align-items-end">Lagos
      {{#if edit}}
        {{> components/edit-pen}}
      {{/if}}
    </p>
  </div>
  <div class="user-details__body-row">
    <p>State</p>
    <p class="d-flex align-items-end">Lagos State
      {{#if edit}}
        {{> components/edit-pen}}
      {{/if}}
    </p>
  </div>
  <div class="user-details__body-row">
    <p>Country</p>
    <p class="d-flex align-items-end">Nigeria
      {{#if edit}}
        {{> components/edit-pen}}
      {{/if}}
    </p>
  </div>
</div>