<div class="page-wrapper {{class}}">
  <div class="container d-flex flex-column min-vh-100 justify-content-center">
    {{> @partial-block }}
  </div>
</div>
  {{#> scripts-block}}
  {{!-- INSERT CUSTOM SCRIPTS --}}
  {{/scripts-block}}