{{#> components/dashboard-layout class="dashboard-page" fixedTitleBar=true}}
{{> components/mobile-title-bar img="https://picsum.photos/id/1027/40" title="Dashboard" position="fixed" bg="bg-background" }}
  <div class="container">
    <div class="my-2"></div>
    {{#> components/user-details}}
      {{#*inline 'user-details-head'}}
        {{> components/user-details-head}}
      {{/inline}}
    {{/components/user-details}}
    <div class="text-center">
      <a href="/dashboard?showMore=true" role="button" class="btn btn-primary btn-sm">More info</a>
    </div>
  </div>
  {{> components/mobile-balance-container}}
{{/components/dashboard-layout}}