{{#> components/dashboard-layout class="dashboard-page"}}
{{> components/mobile-title-bar img="https://picsum.photos/id/1027/40" title="Dashboard" back="/dashboard" }}
  <div class="container">
    <div class="my-2"></div>
    {{#> components/user-details}}
      {{#*inline 'user-details-head'}}
        {{> components/user-details-head edit=true}}
      {{/inline}}
      {{#*inline 'user-details-body'}}
        {{> components/user-details-body edit=true}}
      {{/inline}}
    {{/components/user-details}}
    <div class="text-center mt-3">
      <a href="/dashboard" role="button" class="btn btn-primary btn-sm rounded-pill py-2 px-4">Save</a>
    </div>
  </div>
  {{> components/mobile-balance-container}}
{{/components/dashboard-layout}}

{{> components/modals/upload-modal}}
{{> components/modals/detail-modal value="edit me" }}