{{#> components/dashboard-layout class="land-page "}}
  <div class="bg-primary top-title-container position-fixed d-lg-none">
    {{> components/mobile-title-bar img="https://picsum.photos/id/1027/40" title="House" font-color="text-white" }}
  </div>

  <div class="mobile-search-container position-fixed bg-background d-lg-none">
    <div class="container">
      {{> components/search-bar placeholder="Location"}}
    </div>
  </div>

  <div class="container py-5">
    <p class="fs-4 text-font-color text-center mb-0">House</p>
  </div>

  <div class="d-none d-lg-block pb-5">
    <div class="container">
      <div class="w-75 mx-auto">
        {{> components/search-bar placeholder="Location"}}
      </div>
    </div>
  </div>

  <div class="page-content d-none d-lg-block">
    <div class="container">
      <div class="row g-3">
        <div class="col-md-6 col-lg-3">
          <a href="/land-view" class=" text-decoration-none">
          {{> components/product-card 
            name="celebrity haven" 
            address="(Lekki Free Trade Zone) Iba-Oloja" 
            image="/images/House-Image.png" 
            slug="Excision" 
            qty-price="N3,000,000" 
            qty-name="plot" 
            size-price="N5,000" 
            size-name="sqm"}}
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <a href="/land-view" class=" text-decoration-none">
          {{> components/product-card 
            name="celebrity haven" 
            address="(Lekki Free Trade Zone) Iba-Oloja" 
            image="/images/House-Image.png" 
            slug="Excision" 
            qty-price="N3,000,000" 
            qty-name="plot" 
            size-price="N5,000" 
            size-name="sqm"}}
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <a href="/land-view" class=" text-decoration-none">
          {{> components/product-card 
            name="celebrity haven" 
            address="(Lekki Free Trade Zone) Iba-Oloja" 
            image="/images/House-Image.png" 
            slug="Excision" 
            qty-price="N3,000,000" 
            qty-name="plot" 
            size-price="N5,000" 
            size-name="sqm"}}
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <a href="/land-view" class=" text-decoration-none">
          {{> components/product-card 
            name="celebrity haven" 
            address="(Lekki Free Trade Zone) Iba-Oloja" 
            image="/images/House-Image.png" 
            slug="Excision" 
            qty-price="N3,000,000" 
            qty-name="plot" 
            size-price="N5,000" 
            size-name="sqm"}}
          </a>
        </div>
        
      </div>
    </div>
  </div>

  <div class="page-content mobile d-lg-none">
    <div class="container">
      <div class="row g-3">
        <div class="col-md-6">
          <a href="/house-view" class=" text-decoration-none">
          {{> components/product-card 
            name="4 Bedroom Terrace (Altima Studios)" 
            address="Lekki Pahse 1" 
            image="/images/House-Image.png" 
            slug="C of O" 
            qty-price="N3,000,000" 
            qty-name="Unit" 
            size-price="N5,000" 
            size-name="Slot"}}
          </a>
        </div>
        <div class="col-md-6">
          <a href="/house-view" class=" text-decoration-none">
          {{> components/product-card 
            name="4 Bedroom Terrace (Altima Studios)" 
            address="Lekki Pahse 1" 
            image="/images/House-Image.png" 
            slug="C of O" 
            qty-price="N3,000,000" 
            qty-name="Unit" 
            size-price="N5,000" 
            size-name="Slot"}}
          </a>
        </div>
        <div class="col-md-6">
          <a href="/house-view" class=" text-decoration-none">
          {{> components/product-card 
            name="4 Bedroom Terrace (Altima Studios)" 
            address="Lekki Pahse 1" 
            image="/images/House-Image.png" 
            slug="C of O" 
            qty-price="N3,000,000" 
            qty-name="Unit" 
            size-price="N5,000" 
            size-name="Slot"}}
          </a>
        </div>
        <div class="col-md-6">
          <a href="/house-view" class=" text-decoration-none">
          {{> components/product-card 
            name="4 Bedroom Terrace (Altima Studios)" 
            address="Lekki Pahse 1" 
            image="/images/House-Image.png" 
            slug="C of O" 
            qty-price="N3,000,000" 
            qty-name="Unit" 
            size-price="N5,000" 
            size-name="Slot"}}
          </a>
        </div>
        
      </div>
    </div>
  </div>
  
{{/components/dashboard-layout}}