{{#> components/dashboard-layout class="land-page "}}
  <div class="bg-secondary top-title-container position-fixed d-lg-none">
    {{> components/mobile-title-bar img="https://picsum.photos/id/1027/40" title="Investment" font-color="text-white" }}
  </div>

  <div class="mobile-search-container position-fixed bg-background d-lg-none">
    <div class="container">
      {{> components/search-bar placeholder="Search by customer or property name"}}
    </div>
  </div>

  <div class="container py-5">
    <p class="fs-4 text-font-color text-center mb-0">Investments</p>
  </div>

  <div class="d-none d-lg-block pb-5">
    <div class="container">
      <div class="w-75 mx-auto">
        {{> components/search-bar placeholder="Search by customer or property name"}}
      </div>
    </div>
  </div>

  <div class="page-content d-none d-lg-block">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between py-3">
        <button class="btn btn-link text-font-color text-decoration-none"><< Previous</button>
        <button class="btn btn-link text-font-color text-decoration-none">Next >></button>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="bg-secondary text-white">
            <tr>
              <th scope="col" class="border-0 ps-5">Customer</th>
              <th scope="col" class="border-0">Property</th>
              <th scope="col" class="border-0">Number</th>
              <th scope="col" class="border-0">Amount</th>
              <th scope="col" class="border-0">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-font-color">
              <td class="pt-4 ps-5">Sodeinde Oladapo</td>
              <td class="pt-4">
                <p class="fw-bolder text-font-color">Celebrity Haven</p>
                <p>Celebrity Haven (Lekki Free Trade Zone) Iba-Oloja</p>
              </td>
              <td class="fw-bolder pt-4">10000 plot(s)</td>
              <td class="pt-4 text-primary">₦ 3,000,000</td>
              <td class="pt-4">Nov 23rd 2020</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex align-items-center justify-content-between py-3">
        <button class="btn btn-link text-font-color text-decoration-none"><< Previous</button>
        <button class="btn btn-link text-font-color text-decoration-none">Next >></button>
      </div>
    </div>
  </div>

  <div class="page-content mobile">
    <div class="container">
      <div class="d-lg-none">
        
        <div class="text-center p-5">
          <p class="font-xl text-font-color">No investment yet</p>
        </div>
        <div class="row g-3">
          <div class="col-md-6">
            {{> components/investment-card}}
          </div>
          <div class="col-md-6">
            {{> components/investment-card}}
          </div>
          <div class="col-md-6">
            {{> components/investment-card}}
          </div>
          <div class="col-md-6">
            {{> components/investment-card}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
{{/components/dashboard-layout}}