{{#> components/dashboard-layout class="land-page "}}
  <div class="bg-secondary top-title-container position-fixed">
    {{> components/mobile-title-bar img="https://picsum.photos/id/1027/40" title="Investment" font-color="text-white" }}
  </div>

  <div class="mobile-search-container position-fixed bg-background">
    <div class="container">
      {{> components/search-bar placeholder="Search by customer or property name"}}
    </div>
  </div>

  <div class="page-content mobile">
    <div class="container">
      <div class="d-lg-none">
        
        <div class="text-center p-5">
          <p class="font-xl text-font-color">No investment yet</p>
        </div>
        <div class="row g-3">
          <div class="col-md-6">
            {{> components/investment-card}}
          </div>
          <div class="col-md-6">
            {{> components/investment-card}}
          </div>
          <div class="col-md-6">
            {{> components/investment-card}}
          </div>
          <div class="col-md-6">
            {{> components/investment-card}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
{{/components/dashboard-layout}}