{{#> components/dashboard-layout class="dashboard-page"}}
{{> components/mobile-title-bar img="https://picsum.photos/id/1027/40" title="Dashboard" back="/dashboard" }}
  <div class="container">
    <div class="my-2"></div>
    {{#> components/user-details}}
      {{#*inline 'user-details-head'}}
        {{> components/user-details-head}}
      {{/inline}}
      {{#*inline 'user-details-body'}}
        {{> components/user-details-body}}
      {{/inline}}
    {{/components/user-details}}
  </div>
  {{> components/mobile-balance-container}}
{{/components/dashboard-layout}}