{{#> components/dashboard-layout class="land-page "}}
  <div class="bg-primary top-title-container position-fixed">
    {{> components/mobile-title-bar img="https://picsum.photos/id/1027/40" title="Transfer" font-color="text-white" }}
  </div>

  <div class="mobile-search-container position-fixed bg-background">
    <div class="container">
      {{> components/search-bar placeholder="Search by customer or property name"}}
    </div>
  </div>

  <div class="page-content mobile">
    <div class="container">
      <div class="d-lg-none">
        <div class="card border-0 balance-card bg-secondary ">
          <div class="card-header bg-transparent border-white py-3">
            <p class="text-white mb-0 fs-6 text-center">Wallet Balance</p>
          </div>
          <div class="card-body">
            <p class="text-white mb-0 fs-1 text-center">N67,000,00</p>
          </div>
        </div>
        <div class="text-center p-5">
          <p class="font-xl text-font-color">No transfers yet</p>
        </div>
        <div class="row g-3">
          <div class="col-md-6">
            {{> components/transfer-card}}
          </div>
          <div class="col-md-6">
            {{> components/transfer-card}}
          </div>
          <div class="col-md-6">
            {{> components/transfer-card}}
          </div>
          <div class="col-md-6">
            {{> components/transfer-card}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
{{/components/dashboard-layout}}